body { 
  margin: 0;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ), url("taustakuva.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 40px;
  font-family: Arial;
}

.container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    max-width: 500px;
    margin: 50px auto;
    border-radius: 10px;
}

input { 
  padding: 6px;
}

button { 
  padding: 6px 10px;
  margin-left: 5px;
  color: white;
  background-color: #bc5090;
  border: none;
}

li { 
  margin-top: 10px;
  color: white;
}

h1 {
  text-align: left; 
  font-family: Arial;
  font-size: 55px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 30px; 
}

